{% load static %}
{% load home_tags %}
{% load cache %}


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}">Online Fitness</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item {% if active_nav == '/' %}active{% endif %}">
                    <a href="{% url 'index' %}" class="nav-link smoothScroll">Главная</a>
                </li>

                <li class="nav-item" {% if active_nav == '/about/' %}active{% endif %}>
                    <a href="{% url 'about' %}" class="nav-link smoothScroll">О нас</a>
                </li>

                <li class="nav-item" {% if active_nav == '/products/' %}active{% endif %}>
                    <a href="{% url 'products' %}" class="nav-link smoothScroll">Программы</a>
                </li>

            </ul>
            <ul class="social-icon ml-lg-3">
                <li><a href="tg://resolve?domain=hottabuch_87" class="fa fa-telegram"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
        </div>

    </div>
</nav>