{% extends 'my_app/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
     <!-- ABOUT -->
     <section class="about section" id="about">
        <div class="container">
             <div class="row">

                     <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12 text-secondary">
                         <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Привет, меня зовут Артем</h2>

                         <p data-aos="fade-up" data-aos-delay="400">Я профессиональный тренер по бодибилдингу с многолетним опытом выступлений. </p>
                         <p data-aos="fade-up" data-aos-delay="400"> Мои программы тренировок подойдут как новичкам так и профессиональным спортсменам по бодибилдингу и пауэрлифтингу. </p>
                         <p data-aos="fade-up" data-aos-delay="500">При заказе вы получите на почту видео материал с правильной техникой выполнения каждого упражнения, также вы будете добавлены в закрытый телеграмм канал, где я делюсь свои опытом и отвечаю на вопросы.</p>
                         <p data-aos="fade-up" data-aos-delay="500">План питания на весь день из более <span class="text-danger">2000 ингридиентов. </span> </p>
                         <p data-aos="fade-up" data-aos-delay="500">Программы тренировок для  похудения  </p>
                         <p data-aos="fade-up" data-aos-delay="500" class="text-danger">Нужен результат, тогда заказывай программу и погнали тренить.</p>
                     </div>

                     <div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="700">
                         <div class="team-thumb">
                            
                             
                            <img src="{% static 'images/team/ylia.jpg' %}"  class="img-fluid" alt="Trainer">
                             <div class="team-info d-flex flex-column">

                                 <h3>Юлия</h3>
                                 <span>Йога  и Кроссфит</span>

                                 <ul class="social-icon mt-3">
                                     <li><a href="#" class="fa fa-twitter"></a></li>
                                     <li><a href="#" class="fa fa-instagram"></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>

                     <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
                         <div class="team-thumb">
                            
                            <img src="{% static 'images/team/artem2.jpg' %}"  class="img-fluid" alt="Trainer">
                             <div class="team-info d-flex flex-column">

                                 <h3>Артем</h3>
                                 <span>Бодибилдинг и Пауэрлифтинг</span>

                                 <ul class="social-icon mt-3">
                                     <li><a href="#" class="fa fa-instagram"></a></li>
                                     <li><a href="#" class="fa fa-facebook"></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>

             </div>
        </div>
</section>

{% endblock content %}